<nav class="column column-12 column-mid-2 full-height-mid sidebar sidebar--fixed">
    <button class="navigation-toggle" ng-click="toggleNavigation()">Menu</button>
    <ul id="main-nav" class="nav-list nav-list--main closed">
        <li><a ng-href="#/dashboard">Dashboard</a></li>
        <li><a ng-href="#/upload" ng-show="hasPermission('add-class') || hasPermission('add-truth') || hasPermission('add-logs')">Upload Data</a></li>
        <li><a ng-href="#/add/user" ng-show="hasPermission('add-user')">Add a user</a></li>
    </ul>
</nav>
<div class="column column-12 column-mid-10 column-mid-offset-2 main-content">
    <div class="title-container">
        <h1>View Data by</h1>
        <hr>
    </div>
    <div class="options-list">
        <div class="column-12 column-mid-6 u-text-center options-list__item">
            <h3 class="display-frame__title u-text-center"><a href="#/rooms">Room</a></h3>
            
        </div>
        <div class="column-12 column-mid-6 u-text-center options-list__item">
            <h3 class="display-frame__title u-text-center"><a href="#/modules">Module</a></h3>
            
        </div>
    </div>
    <div class="options-list">
        <div class="column-12 column-mid-6 u-text-center usage-list">
            <div class="title-container">
                <h1>Most used rooms</h1>
                <hr>
            </div>
            {{ message }}
            <ul class="nav-list">
                <li ng-repeat="room in mostUsed"><a class="u-text-center" href="#/rooms/{{ room.room }}">{{room.room}}</a></li>
            </ul>
        </div>

        <div class="column-12 column-mid-6 u-text-center usage-list">
            <div class="title-container">
                <h1>Least used rooms</h1>
                <hr>
            </div>
            {{ message }}
            <ul class="nav-list">
                <li ng-repeat="room in leastUsed"><a class="u-text-center" href="#/rooms/{{ room.room }}">{{room.room}}</a></li>
            </ul>
        </div>
        
    </div>
</div>
