<nav class="column column-12 column-mid-2 full-height-mid sidebar sidebar--fixed">
    <button class="navigation-toggle" ng-click="toggleNavigation()">Menu</button>
    <ul id="main-nav" class="nav-list nav-list--main closed">
        <li><a ng-href="#/dashboard">Dashboard</a></li>
        <li><a ng-href="#/upload" ng-show="hasPermission('add-class') || hasPermission('add-truth') || hasPermission('add-logs')">Upload Data</a></li>
        <li><a ng-href="#/add/user" ng-show="hasPermission('add-user')">Add a user</a></li>
    </ul>
</nav>
<div class="column column-mid-10 column-mid-offset-2 main-content animated-container">
    <div class="container content-container row">
        <form class="form-inline text-left" ng-submit="submit()">
            <div>
                <label class="label-inline"><input type="radio" ng-model="formData.type" value="binary">Binary</label>
                <label class="label-inline"><input type="radio" ng-model="formData.type" value="continuous">Continuous</label>
                <hr>
            </div>
            <label class="column-mid-5 column">
                <span >Select Room </span><br>
                <select aria-label="Select a room" ng-model="formData.room">
                    <option value="{{ room.room_number }}" ng-repeat="room in rooms">{{ room.room_number }}</option>
                    
                </select>
                
            </label>
            <div class="column-mid-6 column">
                <span >Select a date </span><br>
                <input pikaday="example.myPickerObject" format="DD/MM/YYYY" ng-model="formData.date" >
            </div>
            <input type="submit" class="submit-button u-pull-right" value = "Get Data >">
        </form>
    </div>
    <div class="container content-container row" ng-show="!results">
        {{ message }}
    </div>
    <div class="chart container content-container row" ng-show="results">
        <h2 class="u-text-center">Showing {{ type }} results for {{ room }} on {{ date }}</h2>
        <div class="column column-mid-4">
            <div class="column__item u-text-center">
                <h3>Occupancy Score</h3>
                <span class="u-shouty-text u-text-accent">{{ score }}</span>
                <br>
                <small>Based on percentage occupancy between 9am and 5pm on average</small>
            </div>
            
        </div>
        <div class="column column-mid-8">
        <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-legend="true" chart-series="series" chart-click="onClick" style="margin:auto;height:200px"></canvas>
        </div>
    </div>
    <div class="container" ng-show="modules">
        <h2>Modules using this room</h2>
        <div class="room-list container u-text-center">
            <div class="room-list__item u-text-center" ng-repeat="module in modules">
                <h3><a ng-href="#/modules/{{module.counts_module_code}}">{{ module.counts_module_code }}</a></h3>
                at {{ module.counts_time.hour }}:00 on {{ module.counts_time.day }}
                
            </div>
            
        </div>
    </div>

</div>