$color-background: #fff;
$color-background-tertiary: #212122;
$color-text: #3C3E3B;
$color-background-secondary: #F3F6F4;
$color-text-accent: #199C7B;
$color-text-secondary: #ddd;
$color-success: #86C6AF;
$color-error: #CF4762;
$color-border: rgba($color-text,0.25);