$text-heading: "Lato", arial, sans-serif;
$text-body: arial, sans-serif;

h1, h2, h3, h3, h5 {
	font-family: $text-heading;
}

h1, h2, h3 {
	text-transform: uppercase;
}

.text-heading {
	font-size:1.2em;
}

.text-accent {
	color: $color-text-accent;
}