.full-height {
    @media screen and (min-width: $breakpoint-mid) {
        &-mid {
            height: 100%;
        }
    }
    height:100%;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align:left;
}

.u-pull-left {
    float: left;
}

.u-pull-right {
    float: right;
}

.u-text-emphasised {
    font-size:1.6em;
}

.u-text-accent {
    color:$color-text-accent;
}

/* http://stackoverflow.com/questions/8554043/what-is-clearfix */

.u-clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.u-shouty-text {
    font-size: 5em;
}

.u-text-center {
    text-align: center !important;
}

.clearfix {
    *zoom: 1;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}

.clearfix:after {
    clear: both;
}
