{# <base href="/"> #}
<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='node_modules/angular-datepicker/dist/index.css') }}">

<script src="{{ url_for('static', filename='app/bower_components/angular/angular.js') }}"></script>
<script src="{{ url_for('static', filename='app/bower_components/angular-route/angular-route.js') }}"></script>
<script src="{{ url_for('static', filename='app/occupancy.js') }}"></script>
<script src="{{ url_for('static', filename='app/services/Authentication.js') }}"></script>
<script src="{{ url_for('static', filename='app/services/Session.js') }}"></script>
<script src="{{ url_for('static', filename='app/services/Permissions.js') }}"></script>
<script src="{{ url_for('static', filename='app/services/DataManagement.js') }}"></script>
<script src="{{ url_for('static', filename='app/services/RoomOccupancy.js') }}"></script>
<script src="{{ url_for('static', filename='app/services/Modules.js') }}"></script>
<script src="{{ url_for('static', filename='app/directives/loggedInUser.js') }}"></script>
<script src="{{ url_for('static', filename='app/config.js') }}"></script>

<script src="{{ url_for('static', filename='node_modules/chart.js/dist/Chart.min.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/angular-chart.js/dist/angular-chart.min.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/pikaday/pikaday.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/pikaday-angular/pikaday-angular.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/ng-file-upload/dist/ng-file-upload.js') }}"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
