{# <base href="/"> #}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='node_modules/angular-datepicker/dist/index.css') }}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

<script src="{{ url_for('static', filename='app/bower_components/angular/angular.js') }}"></script>
<script src="{{ url_for('static', filename='app/bower_components/angular-route/angular-route.js') }}"></script>
<script src="{{ url_for('static', filename='app/occupancy.js') }}"></script>
<script src="{{ url_for('static', filename='app/config.js') }}"></script>
<script src="{{ url_for('static', filename='app/services/Authentication.js') }}"></script>
<script src="{{ url_for('static', filename='app/services/chartData.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/chart.js/dist/Chart.min.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/angular-chart.js/dist/angular-chart.min.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/pikaday/pikaday.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/pikaday-angular/pikaday-angular.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/ng-file-upload/dist/ng-file-upload.js') }}"></script>
