.container {
    @include container(80em);
    padding: 1em;
    box-sizing:border-box;
}

.column {
    @for $i from 1 through 12 {
        &-#{$i} {
            @include span($i of 12);
        }
        &-offset-#{$i} {
            @include push($i of 12);
        }
    }
    @media screen and (min-width:$breakpoint-mid) {
        @for $i from 1 through 12 {
            &-mid-#{$i} {
                @include span($i of 12);
            }
            &-mid-offset-#{$i} {
                @include push($i of 12);
            }
        }
    }
    &:last-of-type {
        margin-right: 0;
    }
}

.grid-item {
    border: 1px solid rgba(0, 0, 0, 0.25);
}
