@import "navigation";

.sidebar {
	border-right:1px solid rgba($color-text,0.25);
	margin-top:3em;
	background:$color-background;
	z-index:4000;
	margin-left:1em;
	&--fixed {
		position: fixed;
		top:0;
		left:0;
	}
}

.top-bar {
	background:$color-background;
	z-index:4001;
	position:fixed;
	top:0;
	left:0;
	height:3em;
	box-sizing:border-box;
	padding:1em;
	width:100%;
	box-shadow: 0px 2px 2px rgba(0,0,0,0.5);
}

.main-content {
	margin-top:3em;
}

.content-container {
	border-bottom:1px solid rgba($color-text, 0.25);
}

.drop-box {
	width:100%;
	padding:5em;
	box-sizing:border-box;
	text-align:center;
	background-color: $color-background-secondary;
	border: 5px dashed rgba($color-text-accent, 0.25);
}

.bg-secondary {
	background-color: $color-background-secondary;
}

.stats-list {
	&--horizontal {
		border-right:1px solid rgba($color-text, 0.25);
		box-sizing:border-box;
		&:last-of-type {
			border-right: none;
		}
	}

	&__values {
		font-size:1.5em;
		color:$color-text-accent;
	}


}

.submit-button {
	color: $color-text;
	border:none;
	background-color: $color-success;
	padding: 0.5em 0.7em;
	border-radius:5px;
	// margin-top:-1em;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

.login-modal {
	margin:auto;
	padding: 1em;
	border:1px solid rgba($color-text, 0.25);
	margin-top: 5em;
	max-width: 300px;
	text-align:center;
}

.container--occupancy-form {
	background-color: $color-background-tertiary;
	color:$color-text-secondary;
}

.options-list {
	width:100%;
	@media screen and (min-width:$breakpoint-mid) {
		 display:flex;
	}
   
    &__item {
    	width:100%;
    	@media screen and (min-width:$breakpoint-mid){
    		width:50%;
    	}
    	
    	box-sizing:border-box;
    	animation-name:scale;
    	animation-duration: 0.5s;
	    animation-timing-function: ease-in-out;
	    animation-delay: 0s;
	    animation-iteration-count: 1;
	    animation-direction: forward;
    	a {
    		width:100%;
    		display:block;
    		padding:4em 0.5em;
    		box-sizing:border-box;
    		border:2px solid rgba($color-text, 0.5);
    		color: $color-text;
    		&:hover {
	    		background-color:$color-background-secondary;
	    	}
    	}
    	
    }
 }

 .animated-container {
 	animation-name: up-and-fade;
    animation-duration: 0.25s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-direction: forward;
 }


