.nav-list {
	list-style:none;
	margin:0;
	padding:0;
	padding-top:1em;
	
	width:100%;
	li {
		border-bottom:1px solid $color-border;
		&:last-of-type {
			border-bottom:none;
		}
		//border-top:1px solid rgba($color-text, 0.25);
		a {
			color:$color-text;
			display:block;

			text-align:right;
			font-family: $text-heading;
			text-transform: uppercase;
			padding: 0.5em 0;
			&:hover {
				background-color:rgba(0,0,0,0.05);
			}
		}

		// &:last-of-type {
		// 	border-bottom:1px solid rgba($color-text, 0.25);
		// }
	}

	
}

.nav-list--horizontal {
	li {
		display:inline-block;
	}
}

.nav-list--main {
	li {
		border-bottom:1px solid $color-border;
		&:last-of-type {
			border-bottom:none;
		}
	}
	li a {
		padding:0.75em 1em;
		text-decoration:none;
		
	}
}

.open {
	display:block;
}

.closed {
	display:none;
	@media screen and (min-width:$breakpoint-mid) {
		display:block;
	}
	
}

.navigation-toggle {
	float:right;
	margin-right:1em;
	@media screen and (min-width:$breakpoint-mid) {
		display:none;
	}
}


