<!DOCTYPE html>
<html lang="en" ng-app="occupancyApp">
<head>
    <meta charset="UTF-8">
    <title>Occupancy Data</title>
    {% include "partials/linkedFiles.html" %}
</head>
<body>
	<div class="full-height">
		
		<div class="top-bar u-clearfix ">
			<div class="logo u-pull-left">
				
			</div>
			<div class="logged-status u-pull-right">
				<div ng-cloak ng-show="message">{{ message }}</div>
			</div>
		</div>
		
        <div class="container full-height row">
            <nav class="column column-mid-2 full-height sidebar sidebar--fixed">
                <ul class="nav-list nav-list--main">
                    <li><a ng-href="#/upload" target="_self">UPLOAD SHIT</a></li>
                    <li><a href="">item</a></li>
                    <li><a href="">item</a></li>
                    <li><a href="">item</a></li>
                    <li><a href="">item</a></li>
                </ul>
            </nav>
            <div class="column column-mid-10 column-mid-offset-2 main-content">
            	<div ng-view>{% block content %}{% endblock %}</div>
            </div>
        </div>
    </div>
</body>
</html>