{% extends "base.html" %}
{% block content %}
<nav class="column column-mid-2 full-height sidebar sidebar--fixed">
    <ul class="nav-list nav-list--main">
        <li><a ng-href="#/upload" target="_self">UPLOAD SHIT</a></li>
        <li><a href="">item</a></li>
        <li><a href="">item</a></li>
        <li><a href="">item</a></li>
        <li><a href="">item</a></li>
    </ul>
</nav>
<div class="container content-container row">
    <form class="form-inline">
        <label class="column-mid-5 column">
            Room:
            <select aria-label="Select a room">
                <option selected>B001</option>
                <option value="1">B002</option>
                <option value="2">B003</option>
                <option value="3">B004</option>
            </select>
        </label>
        <div class="column-mid-6 column">
            Date:
            <input pikaday="example.myPickerObject" format="MM/DD/YYYY">
        </div>
        <input type="submit">
      </form>
</div>
<div class="container content-container row">
    <h2>Occupancy:</h2>
    <div class="column-mid-6 column text-center text-heading">25%</div>
    <div class="column-mid-6 column text-center text-heading">30%</div>
</div>
<div class="chart container content-container row" ng-controller="lineCtrl">
    <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-legend="true" chart-series="series" chart-click="onClick" style="margin:auto;height:200px"></canvas>
</div>
{% endblock %}
